<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Add Post</h1>
            <hr>
            <form [formGroup]="postForm" (ngSubmit)="onAddPost()">

                <div class="mb-3">
                    <label class="form-label">id</label>
                    <input type="text" class="form-control" placeholder="post id" formControlName="id">
                </div>

                <div class="mb-3">
                    <label class="form-label">title</label>
                    <input type="text" class="form-control" placeholder="title" formControlName="title">
                </div>

                <div class="mb-3">
                    <label class="form-label">description</label>
                    <input type="text" class="form-control" placeholder="description" formControlName="description">
                </div>

                <div class="mb-3">
                    <label class="form-label">image path</label>
                    <input type="text" class="form-control" placeholder="image path" formControlName="img">
                </div>


                <div class="mb-3">
                    <button class="btn btn-primary" [disabled]="!postForm.valid">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>