<div class="container">


  <!-- <button class="btn btn-primary mx-3" (click)="start()">start</button>
  <button class="btn btn-danger" (click)="stop()">stop</button> -->

  <input type="text" class="form-control my-4" placeholder="filter user" [(ngModel)]="userFilter"
    (ngModelChange)="changeFilterValue($event)" />



  <div class="row" *ngFor="let i of userFilter$ | async">
    <div style="background-color: rgb(138, 219, 138)">user Id : {{ i.id }}</div>
    <div>user Name : {{ i.name }}</div>
    <div>user UserName : {{ i.username }}</div>
    <div>user Phone : {{ i.phone }}</div>
    <div>user Email :{{ i.email }}</div>
    <div>user Company : {{ i.company.name }}</div>
    <div>user City : {{ i.address.city }}</div>
    <div>
      <input type="text" class="form-control" value="user WebSit : {{ i.website }}" />
    </div>
  </div>
  <!-- <div>
    <button class="btn btn-primary my-5" (click)="createNewUser()">
      create user
    </button>
  </div> -->
</div>