<div class="row">
    <div>

    </div>
    <div class="col-7 ">
        <a class="btn btn-success" [routerLink]="['/post/add']">add post</a>
        <div *ngFor="let i of posts|async" class="my-3">
            <div>{{i.id}}</div>
            <h2>{{i.title}}</h2>
            <label>{{i.description}}</label>
            <div><img src={{i.img}} alt="..."></div>
            <button class="btn btn-warning my-2" [routerLink]="['edit',i.id]"><i
                    class="bi bi-arrow-clockwise">edit</i></button>

            <button class="btn btn-danger my-2 mx-1" (click)="onDeletePost(i.id)"><i
                    class="bi bi-trash">delete</i></button>
            <hr>
        </div>


    </div>
    <div class="col-5">
        <router-outlet></router-outlet>
    </div>
</div>